html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font: 14px/20px proxima-nova, 'Helvetica Neue';
  background: #eee;
}
h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}
p {
  margin: 10px 0;
}
.text {
  margin: 20px;
}
.text p {
  margin: 10px 0 0 0;
}
.text p:first-child {
  margin: 0;
}
#sidebar {
  background: #343131;
  color: #fff;
  overflow: hidden;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
#sidebar iframe {
  margin: 0 20px;
}
#sidebar .nav {
  display: block;
  margin: 40px 0;
  padding: 0;
  background: #E3E3E3;
  color: #808080;
  border-right: 1px solid #C9C9C9;
}
#sidebar .nav li {
  padding: 10px;
  cursor: pointer;
}
#sidebar .nav li:hover {
  background: #D6D6D6;
}
#sidebar .nav li.active {
  background: #fff;
  color: #000;
  font-weight: 500;
}
#sidebar h1 {
  font-size: 30px;
  line-height: 30px;
  margin: 20px;
}
#sidebar h2 {
  font-size: 18px;
  line-height: 20px;
  margin: 20px;
}
#sidebar a {
  color: #F4D03F;
}
#header {
  background: #fff;
  margin: 0 0 0 300px;
  overflow: hidden;
}
#header > .aux {
  overflow: hidden;
  width: 1100px;
  background: #eee;
  margin: 40px;
}
#header .text {
  margin: 20px;
}
#header .text p {
  margin: 10px 0 0 0;
}
#header .text > :first-child {
  margin: 0;
}
#examples {
  width: 1100px;
  margin: 0 40px 40px 340px;
  padding: 0 40px 0 0;
  overflow: hidden;
}
.example {
  padding: 40px 0 0 0;
}
.example h3 {
  font: normal 20px/30px Georgia, 'Times New Roman', sans-serif;
  margin: 15px 20px 20px 20px;
}
.example h3 a {
  text-decoration: none;
  color: #000;
}
.example .description {
  width: 200px;
  float: left;
}
.example .body {
  margin: 0 0 0 200px;
  background: #fff;
  overflow: hidden;
}
.example .tab {
  background: #f0f;
  overflow: hidden;
}
.example .tab pre,
.example .tab code {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}
.example .tab pre {
  display: block;
  padding: 20px;
  line-height: 20px;
  background: #fff;
}
.example .tab.code {
  background: #F4D03F;
}
.example .tab.demo {
  background: #F4D03F;
  border-top: 1px solid #C0392B;
}
